<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <!--声明dubbo服务提供者的名称：唯一性-->
    <dubbo:application name="006-zk-userserviceprovider"/>

    <!--声明dubbo使用的协议名称和端口号-->
    <dubbo:protocol name="dubbo" port="20880"/>

    <!--指定注册中心地址和端口号-->
    <dubbo:registry address="zookeeper://192.168.216.129:2181"/>

    <!--暴露服务接口-->
    <dubbo:service interface="com.ujiuye.service.UserService" ref="userServiceImpl"/>

    <!--加载接口实现类-->
    <bean id="userServiceImpl" class="com.ujiuye.serviceimpl.UserServiceImpl"/>
</beans>